@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './base.css'; */

:root {
  --main-color: #1B1717;
  --seconndary-color: rgb(238, 235, 221);
  --light-red: #ce1212;
}
@font-face {
  font-family: 'roboto';
  src: url('@/assets/Fonts/roboto/roboto-regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'roboto';
  src: url('@/assets/Fonts/roboto/roboto-bold.woff2');
  font-weight: 700;
}
/* general classes */
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--main-color);
  color: var(--seconndary-color);
}
.paddingx-15 {
  padding: 0 15px;
}
@media (min-width: 1200px) {
  body {
    padding: 0;
  }
}
.primary-red {
  background-color: var(--light-red);
}

/* font sizes */
.fw-700 {
  font-weight: 700;
}
.big-t {
  font-size: 24px;
  line-height: 50px;
}
.medium-t {
  font-size: 18px;
  line-height: 21.09px;
}
.small-t {
  font-size: 16px;
  line-height: 18.75px;
}
.smaller-t {
  font-size: 14px;
  line-height: 16.41px;
}
.trailer-font {
  font-size: 16px;
  line-height: 20px;
}
/* width */
.w-75p {
  width: 75px;
}




/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
