@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './base.css'; */

:root {
  --main-color: #1B1717;
  --seconndary-color: rgb(238, 235, 221);
  --light-red: #ce1212;
}
@font-face {
  font-family: 'roboto';
  src: url('@/assets/Fonts/roboto/roboto-regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'roboto';
  src: url('@/assets/Fonts/roboto/roboto-bold.woff2');
  font-weight: 700;
}
/* general classes */
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--main-color);
  color: var(--seconndary-color);
  font-family: 'roboto';
}
.paddingx-15 {
  padding: 0 15px;
}
@media (min-width: 1200px) {
  body {
    padding: 0;
  }
}
.primary-red {
  background-color: var(--light-red);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* font sizes */
.cast-name-font {
  font-size: 16px;
  line-height: 18.75px;
}
.show-all-font {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 500;
}
.cast-char-font {
  font-size: 14px;
  line-height: 16.41px;
}
.movie-title {
  font-size: 32px;
  line-height: 40px;
}
.fw-700 {
  font-weight: 700;
}
.h2-font {
  font-size: 24px;
  line-height: 50px;
}
.medium-t {
  font-size: 18px;
  line-height: 21.09px;
}
.small-t {
  font-size: 16px;
  line-height: 18.75px;
}
.smaller-t {
  font-size: 14px;
  line-height: 16.41px;
}
.trailer-font {
  font-size: 16px;
  line-height: 20px;
}
.answer-font {
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 1200px) {
  .movie-title {
    font-size: 48px;
  }
  .trailer-font {
    font-size: 21px;
    line-height: 24px;
  }
  .answer-font {
    font-size: 16px;
    line-height: 18.75px;
  }
  .h2-font {
    font-size: 28px;
  }
  .medium-t {
    font-size: 21px;
    line-height: 24.09px;
  }
  .small-t {
    font-size: 18px;
    line-height: 21.09px;
  }
  .smaller-t {
    font-size: 16px;
    line-height: 18.75px;
  }
}
/* width */
.w-75p {
  width: 75px;
}




